.main-div{
    position: relative;
    border-radius: 10px;
    border: 2px solid rgb(214 211 209);
    width: 300px;
    height: 350px;
    margin-left: 37%;
    background-color: rgb(148 163 184);

}

p{
  font-size: 12px;
  text-decoration: underline;
  text-align: center;
}



.rooms-div{
    height: 150px;
    width: 287px;
    border-radius: 10px;
    margin: 5px;
    font-size: 20px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.281);

}

#add{
    width: 40px;
    background-color: #0095ff;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 1.15385;
    margin-top: 48%;
    margin-left: -5px;
    outline: none;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    white-space: nowrap;
    
}



#add,
#add {
  background-color: #07c;
}

#add {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.15);
}

#add {
  background-color: #0064bd;
  box-shadow: none;
}